body{
    background-color:rgb(211, 211, 209);
}
.BackG
{
    background-color: #007bff;
    height: 400px;
}
.container-fluid
{
    background-color:white;
    height: 600px;
    padding-top: 50px;
    border-radius: 35px;
    margin-top: 50px;
    text-align: center;
    width: 90%;
}
.BackG nav
{
    font-size: large;
    font-weight: 900;
}
#list-header
{
    color:white;
     background-color:#007bff;
}

.khung
{
    width: 250px;
    height: 50px;
    padding-top: 5px;
    background-color: white;
    color:#007bff;
    border-radius: 10px;
    margin-left: 40%;
}
.khung h3{
    width: 100%;
}
  .khung_dangNhap
{
    padding-left: 20px;
    padding-top: 30px;
    width: 40%;
    height: 100%;
    background-color: white;
    color:#007bff;
    border-radius: 10px;
}
.dropdown-menu .item {
    margin: 10px;
    text-align: center;
  }
  .khung_dashboard
{
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    width: 60%;
    height: 130%;
    background-color: white;
    color:#007bff;
    border-radius: 10px;
}
.top-buffer { margin-top:40px; }
.co_chu_nho
{
    font-size: 18px;
}